data/raw/archive/2023_phoeflin
data/raw/archive/2023_thempel
data/raw/archive/slides
data/raw/slides
data/processed
results/evaluations
results/figures
results/logs
results/models
results/tables
results/tuning
results/plots
src/models/__pycache__
src/config/__pycache__
src/models/architectures/__pycache__
x_AUXILIARIES
logs